<section id="dashboard">

    <div class="header">
        <button class="btn-header">
            <img src="../../../assets/menu.svg" alt="menu.icon">
        </button>

        <span class="titulo">DASHBOARD</span>

        <button class="btn-header">
            <img src="../../../assets/pesquisa.svg" alt="pesquisa.svg">
        </button>
    </div>

    <div class="painel">

        <span class="titulo">PEDIDOS:</span>

        <div class="pedidos">

            <div class="pedido">
                <span class="cliente">Monique Dantas</span>
                <br>
                <span class="codigo"><strong>Pedido Nº: </strong>000001</span>
                
                <span class="data"><strong>Data: </strong>26/01/2025</span>
                
                <span class="horario"><strong>Horário: </strong>19:00</span>
                
                <span class="previsao"><strong>Previsão: </strong>20:00</span>
                
                <span class="valor"><strong>Valor: </strong>R$199,99</span>
                
                <span class="status"><strong>Status: </strong>Concluído</span>
            </div>
    
            <div class="pedido">
                <span class="cliente">Monique Dantas</span>
                <br>
                <span class="codigo"><strong>Pedido Nº: </strong>000001</span>
                
                <span class="data"><strong>Data: </strong>26/01/2025</span>
                
                <span class="horario"><strong>Horário: </strong>19:00</span>
                
                <span class="previsao"><strong>Previsão: </strong>20:00</span>
                
                <span class="valor"><strong>Valor: </strong>R$199,99</span>
                
                <span class="status"><strong>Status: </strong>Concluído</span>
            </div>
    
            <div class="pedido">
                <span class="cliente">Monique Dantas</span>
                <br>
                <span class="codigo"><strong>Pedido Nº: </strong>000001</span>
                
                <span class="data"><strong>Data: </strong>26/01/2025</span>
                
                <span class="horario"><strong>Horário: </strong>19:00</span>
                
                <span class="previsao"><strong>Previsão: </strong>20:00</span>
                
                <span class="valor"><strong>Valor: </strong>R$199,99</span>
                
                <span class="status"><strong>Status: </strong>Concluído</span>
            </div>
    
            <div class="pedido">
                <span class="cliente">Monique Dantas</span>
                <br>
                <span class="codigo"><strong>Pedido Nº: </strong>000001</span>
                
                <span class="data"><strong>Data: </strong>26/01/2025</span>
                
                <span class="horario"><strong>Horário: </strong>19:00</span>
                
                <span class="previsao"><strong>Previsão: </strong>20:00</span>
                
                <span class="valor"><strong>Valor: </strong>R$199,99</span>
                
                <span class="status"><strong>Status: </strong>Concluído</span>
            </div>
        </div>
    </div>

    <div class="painel">
        <span class="titulo">PRODUTOS:</span>

        <div class="produtos">

            <div class="produto">

                <img src="../../../assets/hamb.jpg" alt="produto.icon">

                <div class="detalhes">
                    <span class="descricao">001 - Hambuguer Cupim</span>
                    <br>
                    <span class="valor"><strong>Preço: </strong> R$999,00</span>
                    <span class="quantidade"><strong>Quantidade: </strong>999</span>
                </div>
            </div>

        </div>
    </div>
</section>